name: Deploy via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.TERRANOVA }}
          known_hosts: unnecessary_for_now_but_recommended
          if_key_exists: replace

      - name: Deploy with rsync
        run: |
          rsync -avz -e "ssh -o StrictHostKeyChecking=no" ./ ka484315@185.117.155.10:/home/ka484315/www/bantaiestatevillas.com/terra-nova/